<body>
    <div class="text-center">
        <h1 class="display-4">Добро пожаловать!</h1>
        <h1 class="display-6">Хотели зарабатывать играя или привлекая рефералов? Теперь это возможно!</h1>
        <h1 class="display-6"><a href="/auth/login">Войдите</a>
            или <a href="/auth/signup">зарегестрируйтесь</a> что бы продолжить</h1>
</div>